.scroll-indicator {
  position: fixed;
  width: 100%;
  bottom: 40px;
  transform: translateX(-50%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 0.5rem;
  transition: opacity 0.6s ease, transform 0.6s ease;
  pointer-events: none;
  opacity: 1;
  transform: translateY(0);
}

.scroll-indicator.hide {
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
}

.scroll-indicator.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.circle {
  width: 50px;
  height: 50px;
  border: 4px solid #f0f8ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  
}

.arrow {
  font-size: 1.3em;
  color: white;
}

.scrolltext {
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@media (max-width: 480px) {
  .scroll-indicator {
    position: fixed;
    bottom: 2rem;
    left: 40%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: auto;
    visibility: visible;
  }
}

@media (max-width:320px) {
  .scroll-indicator {
  left: 35%;
  }
}

@media (max-width:375px) {
  .scroll-indicator {
  left: 30%;
  }
}